{% extends 'base.html' %}
<!-->
  利用百度地图前端框架在地图上标记地点-demo
<-->
{% load static %}
{% block head %}
  <style type="text/css">
    body, html,#allmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin:0;
        font-family:"微软雅黑";
      }
    #map1_container {
      width:100%;
      height:50%;
      float:left;
      overflow: hidden;
      margin:0;
    }
    #map2_container {
      width:50%;
      height:100%;
      float:right;
      overflow: hidden;
      margin:3;
    }
    #btn-group-container{
      margin:0px 3px 7px 0px; 
    }
    #chart_container{
      width:100%;
      height:50%;
      float: left;;
      overflow: hidden;;
      margin: 0px;
    }

    #l-map{
      height:100%;
      width:78%;
      float:left;
      border-right:2px solid #bcbcbc;}
    #r-result{
      height:100%;
      width:20%;
      float:left;
    }
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=br6R3ZZwPKACZoToIZUje9oVWB3rL9ot&services=&t=20180110122222"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
  <script type="text/javascript" src="http://echarts.baidu.com/build/dist/echarts.js"></script>
  <!--加载坐标转换脚本-->
  <script type="text/javascript" src="{% static 'js/GPSTransTools.js' %}"></script>
{% endblock %}

{% block map %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="nav nav-tabs">
        <li class="active">
           <a href="#">首页</a>
        </li>
        <li class="disabled">
           <a href="#">{{ carid }}</a>
        </li>
        <li class="dropdown pull-right">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle">停留点相似车辆<strong class="caret"></strong></a>
          <ul class="dropdown-menu">
            {% for carid in simicar %}
              <li>
                <a href="/car/{{ carid }}">{{ carid }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="map1_container">
  <div id="allmap"></div>
</div>
{% endblock %}


{% block chart %}
<div class="container" id="btn-group-container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" id="show_stp">显示停留点</button> 
        <button type="button" class="btn btn-sm btn-primary" id="show_chp">显示充电地点</button>
        <button type="button" class="btn btn-sm" id="show_job_on">显示收入热力图</button>
        <button type="button" class="btn btn-sm" id="show_job_num_on">显示职位数量热力图</button>
        <button type="button" class="btn btn-sm" onclick="closeHeatmap();" id="show_job_off" >关闭就业热力图</button>
        <button type="button" class="btn btn-sm btn-warning" id="show_house_price">显示在售房屋均价</button>
        <button type="button" class="btn btn-sm btn-warning" id="show_house_selling">显示在售房屋数量</button>
        <button type="button" class="btn btn-sm btn-warning" onclick="closeHouseHeatmap();" id="house_off">关闭房屋热力图</button>
        <button type="button" class="btn btn-sm" onclick="show_trace();">显示行程起始</button>
        <button type="button" class="btn btn-sm btn-info" onclick="clear_layer();">清空图层</button>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-6 column">
      <div id="usehour" style="height:350px">
      </div>
    </div>
    <div class="col-md-4 column">
      <div class="user-portrait">
          <h1>
            用户画像
          </h1>
          {% if center.charge|length > 0 %}
            <p>
              ta可能住在<button class="btn btn-sm" onclick="show_center_point({{ center.charge.lat }},{{ center.charge.lng }})">这里</button>
            </p>
            {% if house_unit_price > 0 %}
              <p>
                方圆两公里内房屋均价是{{ house_unit_price }}元
              </p>
            {% endif %}
          {% endif %}
          {% if center.stay|length < 2 %} 
            <p>
              ta可能没有固定工作
            </p>
          {% else %}
            <p>
              ta的工作地点可能在<button class="btn btn-sm" onclick="show_center_point({{ work_point.lat }},{{ work_point.lng }})">这里</button>
            </p>
             <p>
              方圆两公里内内平均招聘薪酬是{{ salary_ave }}元
            </p>           
          {% endif %}
          <p>记录用车次数:{{ traces|length }}
          </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js_function %}
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('usehour'));    
option = {
    title : {
        text: '用户用车一日时间分布',
        subtext: '算法分析结果'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['停车','充电']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : [{% for i in x %}"{{ i }}点",{% endfor %}]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'停车',
            type:'bar',
            data:[{% for i in staytime %}{{ i }},{% endfor %}],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
        },
        {
            name:'充电',
            type:'bar',
            data:[{% for i in chargetime %}{{ i }},{% endfor %}],
                        markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
/*            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }*/
        }
    ]
};

                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
</script>

<script>
  var map = new BMap.Map("allmap");
  map.enableScrollWheelZoom(true);
  var point = new BMap.Point(121.508420,31.293820);
  map.centerAndZoom(point, 12);
  var heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":15});
  var househeatmapOverlay = new BMapLib.HeatmapOverlay({"radius":9});
  var markers = [];
  var markerClusterer = new BMapLib.MarkerClusterer(map);
  //$(document).ready(function(){ });

  $("button#show_stp").click(function(){
      //var map = new BMap.Map("allmap");
      markers = [];
      map.clearOverlays();
      var points = [];
      $.getJSON("/staypoint/{{ carid }}", function(data){
        $.each(data.features, function(i, f){
          cord = f.geometry.coordinates;
          var bd_cord = wgs2gcj(cord[0], cord[1]);
          var p = new BMap.Point(bd_cord[0], bd_cord[1]);
          points.push(p);
          markers.push(new BMap.Marker(p));
        });   
      markerClusterer.clearMarkers();
      markerClusterer.addMarkers(markers);
      });
    });
  
    $("button#show_chp").click(function(){
        map.clearOverlays();
        markers = [];
        var points = [];
        $.getJSON("/chargepoint/{{ carid }}", function(data){
          $.each(data.features, function(i, f){
            cord = f.geometry.coordinates;
            var bd_cord = wgs2gcj(cord[0], cord[1]);
            var p = new BMap.Point(bd_cord[0], bd_cord[1]);
            points.push(p);
            markers.push(new BMap.Marker(p));
          });
        markerClusterer.clearMarkers();
        markerClusterer.addMarkers(markers);
        });
      })
  
    $("button#show_job_on").click(function(){
        var job_points = [];
        $.getJSON("/jobpoint/?lng=121.483291504&lat=31.2389588267", function(data){
          $.each(data.points, function(i, f){
            f.count = parseInt(f.salary/100);
            job_points.push(f);
          });
        map.addOverlay(heatmapOverlay);
        heatmapOverlay.setDataSet({data:job_points,max:120*100*job_points.length/10000});
        heatmapOverlay.show();
        setGradient();
        function setGradient(){
            /*格式如下所示:*/
            var gradient ={
                0:'rgb(102, 255, 0)',
                .5:'rgb(255, 170, 170)',
                1:'rgb(255, 0, 0)'
            }
            var colors = document.querySelectorAll("input[type='color']");
            colors = [].slice.call(colors,0);
            colors.forEach(function(ele){
            gradient[ele.getAttribute("data-key")] = ele.value; 
            });
            heatmapOverlay.setOptions({"gradient":gradient});
          }
        //判断浏览区是否支持canvas
          function isSupportCanvas(){
              var elem = document.createElement('canvas');
              return !!(elem.getContext && elem.getContext('2d'));
          }
        });
      });

    $("button#show_job_num_on").click(function(){
        var job_points = [];
        $.getJSON("/jobpoint/?lng=121.483291504&lat=31.2389588267", function(data){
          $.each(data.points, function(i, f){
            f.count = 1;
            job_points.push(f);
          });
        map.addOverlay(heatmapOverlay);
        heatmapOverlay.setDataSet({data:job_points,max:job_points.length*0.02});
        heatmapOverlay.show();
        setGradient();
        function setGradient(){
            /*格式如下所示:*/
            var gradient ={
                0:'rgb(102, 255, 0)',
                .5:'rgb(255, 170, 170)',
                1:'rgb(255, 0, 0)'
            }
            var colors = document.querySelectorAll("input[type='color']");
            colors = [].slice.call(colors,0);
            colors.forEach(function(ele){
            gradient[ele.getAttribute("data-key")] = ele.value; 
            });
            heatmapOverlay.setOptions({"gradient":gradient});
          }
        //判断浏览区是否支持canvas
          function isSupportCanvas(){
              var elem = document.createElement('canvas');
              return !!(elem.getContext && elem.getContext('2d'));
          }
        });
      });


    $("button#show_house_selling").click(function(){
        var points = [];
        $.getJSON("/houseprice/?lng=121.483291504&lat=31.2389588267", function(data){
          $.each(data.points, function(i, f){
            f.count = 1;
            points.push(f);
          });
        map.addOverlay(househeatmapOverlay);
        househeatmapOverlay.setDataSet({data:points,max:points.length*0.005});
        househeatmapOverlay.show();
        setGradient();
        function setGradient(){
            /*格式如下所示:*/
            var gradient ={
                0:'rgb(102, 255, 0)',
                .5:'rgb(255, 170, 0)',
                1:'rgb(255, 0, 0)'
            }
            var colors = document.querySelectorAll("input[type='color']");
            colors = [].slice.call(colors,0);
            colors.forEach(function(ele){
            gradient[ele.getAttribute("data-key")] = ele.value; 
            });
            househeatmapOverlay.setOptions({"gradient":gradient});
          }

        //判断浏览区是否支持canvas
          function isSupportCanvas(){
              var elem = document.createElement('canvas');
              return !!(elem.getContext && elem.getContext('2d'));
          }
        });
      });

    $("button#show_house_price").click(function(){
        var points = [];
        $.getJSON("/houseprice/?lng=121.483291504&lat=31.2389588267", function(data){
          $.each(data.points, function(i, f){
            f.count = f.unit_price;
            points.push(f);
          });
        map.addOverlay(househeatmapOverlay);
        househeatmapOverlay.setDataSet({data:points,max:points.length*0.005*70000});
        househeatmapOverlay.show();
        setGradient();
        function setGradient(){
            /*格式如下所示:*/
            var gradient ={
                0:'rgb(102, 255, 0)',
                .6:'rgb(255, 170, 0)',
                .9:'rgb(255, 0, 0)'
            }
            var colors = document.querySelectorAll("input[type='color']");
            colors = [].slice.call(colors,0);
            colors.forEach(function(ele){
            gradient[ele.getAttribute("data-key")] = ele.value; 
            });
            househeatmapOverlay.setOptions({"gradient":gradient});
          }

        //判断浏览区是否支持canvas
          function isSupportCanvas(){
              var elem = document.createElement('canvas');
              return !!(elem.getContext && elem.getContext('2d'));
          }
        });
      });

  function show_center_point(lat, lng){
      var bd_cord = wgs2gcj(lng, lat);
      lng = bd_cord[0];
      lat = bd_cord[1];
      //设置marker图标为水滴 lng lat
      var vectorMarker = new BMap.Marker(new BMap.Point(lng,lat), {
        // 指定Marker的icon属性为Symbol
        icon:new BMap.Symbol(BMap_Symbol_SHAPE_POINT, {
          scale: 2,//图标缩放大小
          fillColor: "orange",//填充颜色
          fillOpacity: 0.8//填充透明度
        })
      });
      var point = new BMap.Point(lng, lat);
      map.centerAndZoom(point, 13);
      map.addOverlay(vectorMarker);
  };
  //是否显示招聘职位热力图
  function openHeatmap(){
    heatmapOverlay.show();
  }
  function closeHeatmap(){
    heatmapOverlay.hide();
  }
  function clear_layer(){
    markerClusterer.clearMarkers();
    map.clearOverlays();
  }
  function closeHouseHeatmap(){
    househeatmapOverlay.hide();
  }
  // 编写自定义函数,创建标注
  /*  function addMarker(point){
    var marker = new BMap.Marker(point);
  map.addOverlay(marker);
  map.addOverlay();
  }*/
  function show_trace(){
    var curves = [];
    {% for trace in traces %}
      var bd_cord1 = wgs2gcj({{ trace.start_point.lng }}, {{ trace.start_point.lat }});
      var bd_cord2 = wgs2gcj({{ trace.end_point.lng }}, {{ trace.end_point.lat }});
      var point_a = new BMap.Point(bd_cord1[0], bd_cord1[1]),
          point_b = new BMap.Point(bd_cord2[0], bd_cord2[1]);
      var curve_points = [point_a, point_b];
      var curve = new BMapLib.CurveLine(curve_points, {strokeColor:"blue", strokeWeight:1, strokeOpacity:0.4});
      map.addOverlay(curve);
    {% endfor %}
  }
</script>
{% endblock %}