<!DOCTYPE html>
<html>
<head>
  <!--
      * author:    liu kun
      * edit date: 2017-12
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <style type="text/css">
    #left-column {background:#EEEEE0}
  </style>
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block head %}{% endblock head %}
  <title>新能源汽车用户画像</title>
</head>
<body>
  {% block map %}
  {% endblock map %}

  {% block chart %}
  {% endblock chart %}
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</body>
<!-- footer start -->
<footer align="center" style="bottom: 0; margin-top: 20px;">
        <small>All right reserved by Liu Kun 1949-{% now "Y" %}</small>
</footer>
<!-- footer end -->
{% block js_function %}{% endblock js_function %}
</html>
